map("K", "R");
map("J", "E");
addSearchAliasX('z', 'Zhihu', 'http://www.zhihu.com/search?q=');
addSearchAliasX('P', 'Python Doc', 'https://docs.python.org/3/search.html?&check_keywords=yes&area=default&q=');
addSearchAliasX('B', '豆瓣读书', 'https://book.douban.com/subject_search?&search_text=');
mapkey('op', 'Python Doc', 'Front.openOmnibar({type: "SearchEngine", extra: "P"})');
mapkey('oB', 'DoubanBook', 'Front.openOmnibar({type: "SearchEngine", extra: "B"})');
